.main-nav-content {
    align-items: center;
    display: flex;
    height: 60px;
    flex: 1 1 auto;
}

.logo-wrapper {
    width: 16%;
}

.logo {
    display: inline-block;
}

.logo-image {
    display: block;
    width: 40px;
}

.main-menu {
    border-bottom: 1px solid $darkBlue;
    flex: 1 1 auto;
    height: 100%;
}

.main-header {
    min-height: 500px;
}

.hero-message-wrapper {
    margin: 0 0 0 16%;
}

.hero-message {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.3;
    max-width: 60%;
}

.highlight {
    background-color: $darkBlue;
    color: $light;
    padding: 0 10px;
}