<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Global Change Data Lab</title>
  <meta name="description" content="The Global Change Data Lab is a non-profit research organization in the education sector. Our purpose is to advance education in how global living conditions and the earth’s environment are changing, through the production and maintenance of public online resources and related products."/>
  <link rel="canonical" href="https://global-change-data-lab.org/"/>

  <link href="https://fonts.googleapis.com/css2?family=Galada&family=Lobster&family=Lobster+Two&family=PT+Sans&family=Playball&family=Stardos+Stencil&display=swap" rel="stylesheet">
  
  {{ $style := resources.Get "scss/global.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
