.main-nav-content {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    padding: 20px 0 0 0;
}

.logo-wrapper {
    width: 16%;
}

.logo {
    display: inline-block;
}

.logo-image {
    display: block;
    width: 60px;
}

.main-menu {
    border-bottom: 1px solid $darkBlue;
    flex: 1 1 auto;
    height: 100%;
    padding: 0 0 14px 0;
}

.nav-link {
    color: $darkBlue;
    text-decoration: none;
    margin: 0 10px 0 0;
}

.nav-link:hover {
    font-weight: bold;
}

.main-header {
    padding: 36px 0 56px 0;
    position: relative;
}

.hero-message-wrapper {
    margin: 0 0 0 16%;
}

.header-flag {
    margin: 0;
    text-transform: uppercase;
}

.header-title {
    font-size: 64px;
    margin: 0 0 4px 0;
}

.hero-message {
    font-size: 26px;
    line-height: 1.3;
    margin: 40px 0;
    max-width: 60%;
}

.highlight {
    background-color: $red;
    color: $light;
    padding: 0 10px;
}

.donate-button {
    background-color: $yellow;
    border: 1px solid transparent;
    font-size: 24px;
    font-family: galada,cursive;
    padding: 20px 30px;
    transition: border .3s ease-in-out;
}

.donate-button:hover {
    background-color: $yellow;
    border: 1px solid $darkBlue;
    color: $darkBlue;
}

@media (max-width: 900px) {
    .logo-wrapper {
        margin: 0 16px 0 0;
        width: unset;
    }

    .hero-message-wrapper {
        margin: 0;
    }

    .header-title {
        font-size: 36px;
    }

    .hero-message {
        font-size: 20px;
        max-width: unset;
    }
}