.projects-title {
    font-family: galada,cursive;
    font-size: 60px;
    text-align: center;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item {
    background-color: $light;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 0 0 20px 0;
    overflow: hidden;
    position: relative;
    width: 49%;
}

.link-icon {
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: opacity .3s ease-in-out;
    width: 40px;
}

.light-icon {
    fill: $light;
}

.dark-icon {
    fill: $dark;
}

.project-link:hover .link-icon {
    opacity: 1;
}

.project-item.first {
    width: 100%;
}

.project-link {
    color: $darkBlue;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    text-decoration: none;
}

.project-description {
    background-color: rgba(255,255,255,.9);
    bottom: 0;
    left: 0;
    padding: 20px;
    position: absolute;
    max-width: 60%;
}

.owid-blue-section {
    background-color: $darkBlue;
    color: $light;
    flex: 1 1 auto;
}

.owid-red-section {
    background-color: $red;
    height: 50px;
}

.owid-project-title {
    font-size: 60px;
    text-align: center;
}

.content-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
}

.content-wrapper.full-bg-image {
    padding: 0;
}

.content-image {
    width: 200px;
}

.project-bg-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.placeholder-item {
    background-color: $yellow;
}

@media (max-width: 900px) {
    .project-item {
        width: 100%;
    }

    .link-icon {
        opacity: 1;
        width: 24px;
    }

    .project-description {
        padding: 10px 20px;
        position: static;
        max-width: 100%;
    }

    .owid-project-title {
        font-size: 46px;
    }

    .placeholder-item {
        display: none;
    }
}