html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  background: #002147;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 4rem 0 1.5rem;
  padding-bottom: 1rem;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  margin: 2.5rem 0 0.5rem;
  color: white;
}

h2 + h3 {
  margin-top: 0;
}

strong {
  color: white;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0 0 1.5rem;
}

ol {
  padding-left: 18px; /* HACK */
}

li {
  margin: 0 0 1.25rem;
  padding-left: 1rem;
}

li::marker {
  color: white;
}

.wrapper {
  max-width: 43rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

header {
  padding: 2.5rem 0;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-title {
  display: flex;
  color: white;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: 300;
}

.logo-title img {
  display: none;
  width: 4rem;
  height: auto;
  margin-right: 2rem;
}

@media (min-width: 25rem) {
  .logo-title img {
    display: block;
  }
}

@media (min-width: 60rem) {
  .logo-title {
    margin-left: -8.25rem; /* width + margin of .logo-title img */
  }

  h1 {
    font-size: 3rem;
  }

  .logo-title img {
    width: 6.25rem;
  }
}

.donate {
  margin-left: 2rem;
}

main {
  margin: 1rem 0;
}

.person {
  display: flex;
  margin-bottom: 3rem;
}

.person h3 {
  margin-top: 0;
  line-height: 1.2;
}

.person img {
  width: 8rem;
  height: auto;
  margin-right: 2rem;
  border-radius: 4rem;
}

.person .title {
  font-style: italic;
  margin-bottom: 1rem;
}
