html,
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff5e2;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  background: #002147;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2.25rem 0 1.5rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 1rem 0;
}
strong {
  color: white;
}

.wrapper {
  width: 50rem;
  margin: 0 auto;
}

header {
}

.navigation {
  float: right;
  margin-top: 1.5rem;
}

.navigation a {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
  transition: color 100ms ease;
}

.navigation a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.logo {
  color: white;
  text-decoration: none;
}

.paper {
  margin: 1rem 0;
  padding: 1.5rem 3rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1.125rem;
}

.paper p {
  margin: 1.25rem 0;
}

.paper li {
  margin: 0.5rem 0;
}

.paper a {
  color: #002147;
  text-decoration: underline;
}

.paper a:hover {
  text-decoration: none;
}

.paper a:visited {
  color: #173252;
}
