* {
	box-sizing: border-box
}

a {
	color: #002147
}

a:visited {
	color: #1d3d63
}

.body-tag {
	background-color: #ebeef2;
	color: #002147;
	font-family: pt sans, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0
}

.bold {
	font-weight: 700
}

.button {
	border: 1px solid #002147;
	border-radius: 8px;
	background: 0 0;
	color: #002147;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.2;
	white-space: nowrap;
	text-decoration: none;
	padding: .25rem .5rem;
	margin: .25rem;
	cursor: pointer;
	transition: background, color .2s ease-in-out
}

.button:hover {
	background-color: #002147;
	color: #fafafa
}

.wrapper {
	margin: 0 auto;
	max-width: 1800px;
	padding: 0 24px
}

.main-nav-content {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	padding: 20px 0 0
}

.logo-wrapper {
	width: 16%
}

.logo {
	display: inline-block
}

.logo-image {
	display: block;
	width: 60px
}

.main-menu {
	border-bottom: 1px solid #002147;
	flex: 1 1 auto;
	height: 100%;
	padding: 0 0 14px
}

.nav-link {
	color: #002147;
	text-decoration: none;
	margin: 0 10px 0 0
}

.nav-link:hover {
	font-weight: 700
}

.main-header {
	padding: 36px 0 56px;
	position: relative
}

.hero-message-wrapper {
	margin: 0 0 0 16%
}

.header-flag {
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase
}

.header-title {
	font-size: 64px;
	margin: 0 0 4px
}

.hero-message {
	font-size: 26px;
	line-height: 1.3;
	margin: 40px 0;
	max-width: 60%
}

.highlight {
	background-color: #d42b21;
	color: #fafafa;
	padding: 0 10px
}

.donate-button {
	background-color: #f8c840;
	border: 1px solid transparent;
	font-size: 24px;
	font-family: galada, cursive;
	padding: 20px 30px;
	transition: border .3s ease-in-out
}

.donate-button:hover {
	background-color: #f8c840;
	border: 1px solid #002147;
	color: #002147
}

.section-title {
	font-size: 30px;
	margin: 20px 0 70px;
	text-transform: uppercase
}

.underline {
	border-bottom: 4px solid #d42b21
}

.mission-section {
	background-color: #002147;
	color: #fafafa;
	padding: 50px 0
}

.mission-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0
}

.mission-item {
	display: flex;
	padding: 0 20px 0 0;
	margin: 0 0 40px;
	width: 50%
}

.mission-item-title {
	font-size: 22px;
	line-height: 1.2;
	margin: 0
}

.mission-number {
	color: #f8c840;
	font-family: galada, cursive;
	font-size: 160px;
	line-height: 1;
	margin: 0 20px 0 0
}

.projects-title {
	font-family: galada, cursive;
	font-size: 60px;
	text-align: center
}

.projects-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.project-item {
	background-color: #fafafa;
	border: 1px solid transparent;
	border-radius: 10px;
	margin: 0 0 20px;
	overflow: hidden;
	position: relative;
	width: 49%
}

.link-icon {
	opacity: 0;
	position: absolute;
	right: 20px;
	top: 20px;
	transition: opacity .3s ease-in-out;
	width: 40px
}

.light-icon {
	fill: #fafafa
}

.dark-icon {
	fill: #000
}

.project-link:hover .link-icon {
	opacity: 1
}

.project-item.first {
	width: 100%
}

.project-link {
	color: #002147;
	display: flex;
	flex-direction: column;
	min-height: 300px;
	text-decoration: none
}

.project-description {
	background-color: rgba(255, 255, 255, .9);
	bottom: 0;
	left: 0;
	padding: 20px;
	position: absolute;
	max-width: 60%
}

.owid-blue-section {
	background-color: #002147;
	color: #fafafa;
	flex: 1 1 auto
}

.owid-red-section {
	background-color: #d42b21;
	height: 50px
}

.owid-project-title {
	font-size: 60px;
	text-align: center
}

.content-wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 20px;
	text-align: center
}

.content-wrapper.full-bg-image {
	padding: 0
}

.content-image {
	width: 200px
}

.project-bg-image {
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat
}

.placeholder-item {
	background-color: #f8c840
}

.people-section {
	padding: 50px 0
}

.people-section-inner {
	display: flex;
	justify-content: center
}

.seperator {
	align-self: center;
	background-color: #002147;
	height: 200px;
	margin: 0 80px;
	width: 1px
}

.person-card {
	display: flex;
	margin: 0 0 20px
}

.person-picture {
	margin: 0 12px 0 0
}

.person-image-container {
	border-radius: 50%;
	height: 80px;
	overflow: hidden;
	width: 80px
}

.person-image {
	width: 100%
}

.person-name {
	font-size: 16px;
	margin: 0
}

.person-title,
.person-institute {
	font-size: 14px;
	font-weight: 400;
	margin: 0
}

.person-institute {
	font-style: italic
}

.main-footer {
	background-color: #002147;
	color: #fafafa
}

.main-footer-inner {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 300px
}

.footer-logo {
	flex-shrink: 0;
	margin: 0 10px 0 0;
	max-width: 100%
}

.footer-description {
	margin: 0;
	max-width: 300px
}

.flex-container {
	display: flex
}

@media(max-width:900px) {
	.logo-wrapper {
		margin: 0 16px 0 0;
		width: unset
	}
	.hero-message-wrapper {
		margin: 0
	}
	.header-title {
		font-size: 36px
	}
	.hero-message {
		font-size: 20px;
		max-width: unset
    }
    
    .section-title {
		font-size: 24px;
		margin: 10px 0 50px
    }
    
	.mission-item {
		width: 100%
    }
    
	.mission-number {
		font-size: 126px;
		margin: 0 16px 0 0
    }

    .project-item {
		width: 100%
    }
    
	.link-icon {
		opacity: 1;
		width: 24px
    }
    
	.project-description {
		padding: 10px 20px;
		position: static;
		max-width: 100%
    }
    
	.owid-project-title {
		font-size: 46px
    }
    
	.placeholder-item {
		display: none
	}
}

@media(max-width:700px) {
	.people-section-inner {
		flex-direction: column
	}
	.seperator {
		display: none
    }
    
    .footer-column {
		width: 100%
	}
}