<div class="main-footer">
    <div class="wrapper">
        <div class="main-footer-inner">
            <div class="footer-column">
                <div class="flex-container">
                    <img src="/images/gcdl-logo-narrow-light.png" alt="Global Change Data Lab Logo" class="footer-logo">
                    <p class="footer-description"><span class="bold">Global Change Data Lab</span>, a registered charity in England and Wales (Charity Number 1186433).</p>
                </div>
            </div>
            <div class="footer-column">
                <a href="https://ourworldindata.org/support" class="button donate-button">Donate Now <span class="hover-emoji">💕</span></a>
            </div>
        </div>
    </div>
</div>