<nav class="main-nav">
  <div class="wrapper">
    <div class="main-nav-content">
      <div class="logo-wrapper">
        <a class="logo" href="/">
          <img src="/images/gcdl-logo-narrow.png" class="logo-image" alt="Global Change Data Lab">
        </a>
      </div>
      <div class="main-menu">
        <a href="" class="nav-link">Mission</a>
        <a href="" class="nav-link">Projects</a>
        <a href="" class="nav-link">People</a>
      </div>
    </div>
  </div>
</nav>
<header class="main-header">
  <div class="wrapper">
    <div class="header-hero">
      <div class="hero-message-wrapper">
        <h6 class="header-flag">Charity Number 1186433</h6>
        <h1 class="header-title"><span class="highlight">Global Change Data Lab</span></h1>
        <p class="hero-message"> a charity in the education sector, registered in England and Wales. Our purpose is to advance education in how global living conditions and the earth’s environment are changing, through the production and maintenance of public online resources and related products.</p>
        <a href="https://ourworldindata.org/support" class="button donate-button">Donate Now <span class="hover-emoji">❤️</span></a>
      </div>
    </div>
  </div>
</header>