{{ define "main" }}
  <div id="mission" class="mission-section">
    <div class="wrapper">
      <h2 class="section-title"><span class="underline">We are focused</span> on solving five big problems.</h2>
      <ol class="mission-list">
        <li class="mission-item">
          <span class="mission-number">1</span>
          <div class="misstion-item-content">
            <h4 class="mission-item-title">Daily news is not enough to know about the world</h4>
          we publish data and research to bring attention to large, yet slow transformative processes (e.g. historical reductions in child mortality) that are rarely covered by the media.
          </div>
        </li>
        <li class="mission-item">
          <span class="mission-number">2</span>
          <div class="mission-item-content">
            <h4 class="mission-item-title">To understand how our world is changing we need statistics</h4>
          Our mission is to make data about the world available and understandable to give everyone the research to develop a worldview that goes beyond anecdotes and single events.
          </div>
        </li>
        <li class="mission-item">
          <span class="mission-number">3</span>
          <div class="mission-item-content">
            <h4 class="mission-item-title">Academic research is disconnected from public discourse</h4>
          Research is often hidden behind paywalls, buried in spreadsheets, and written for a specialist audience only. We explain and disseminate important findings that would otherwise be inaccessible to a general audience.
          </div>
        </li>
        <li class="mission-item">
          <span class="mission-number">4</span>
          <div class="mission-item-content">
            <h4 class="mission-item-title">Lacking awareness of progress makes us cynical</h4>
           we show that in many ways living conditions around the world are getting better; communicating this enables people to pursue more of what works and to be motivated to engage with the challenges that we face.
          </div>
        </li>
        <li class="mission-item">
          <span class="mission-number">5</span>
          <div class="mission-item-content">
            <h4 class="mission-item-title">Professors and teachers need understandable, free, and up-to-date teaching material on global development</h4>
          The price of textbooks is often prohibitively high and especially in developing countries educators lack relevant material. We prepare our work to be used as teaching material by everyone without restriction.
          </div>
        </li>
      </ol>
    </div>
  </div>
  <div id="projects" class="projects-section">
    <div class="wrapper">
      <h2 class="projects-title">Projects</h2>
      <div class="projects-grid">
        <div href="https://www.ourworldindata.org/" class="project-item first">
          <a href="" class="project-link">
            <div class="owid-blue-section">
              <h3 class="owid-project-title">Our World <br> in Data</h3>
            </div>
            <div class="owid-red-section"></div>
          </a>
          <p class="project-description">Our World in Data is a website that shows how global living conditions and the earth’s environment are changing. The publication is a collaborative effort between the researchers of the <a href="https://www.oxfordmartin.ox.ac.uk/research/programmes/global-development">Oxford Martin Programme on Global Development</a> at the <em>University of Oxford</em>, who are the scientific editors of the website content; and the non-profit organization <em>Global Change Data Lab</em>, who publishes and maintains the website.</p>
        </div>

        <div class="project-item">
          <a href="https://sdg-tracker.org/" class="project-link">
            <div class="content-wrapper">
             <div class="sdg-inner">
              <h3 class="sdg-title">Sustainable Development Goals Tracker</h3>
              <img src="/images/sdg-wheel.png" alt="Sustainable Development Goals Tracker Wheel" class="content-image">
             </div>
            </div>
          </a>
          <p class="project-description">Our SDG Tracker presents data across all available indicators from the Our World in Data database, using official statistics from the UN and other international organizations. It is the first publication that tracks global progress towards the SDGs.</p>
        </div>
        <div class="project-item">
          <a href="https://ourworldindata.org/teaching" class="project-link">
            <div class="content-wrapper">
              <div class="sdg-inner">
               <h3 class="sdg-title">Global Change Teaching Hub</h3>
               <img src="/images/teaching-hub.svg" alt="Global Change Teaching Hub" class="content-image">
              </div>
             </div>
          </a>
          <p class="project-description">On the Global Change Teaching Hub professors and students find notes, presentation slides, and charts for teaching and learning about global development.</p>
        </div>
        <div class="project-item empty">
          <a href="https://africaindata.org/" class="project-link">
            <div class="content-wrapper full-bg-image">
              <img src="/images/africa-data.jpg" alt="Africa in Data" class="full-image">
             </div>
          </a>
          <p class="project-description">We also have a number of smaller projects such as Africa in Data, a tool to standardize country names in international statistics, and regularly partner with media organizations to provide data and research on global change.</p>
        </div>
        <div class="project-item placeholder-item"></div>
      </div>
    </div>
  </div>
  <div id="people" class="people-section">
    <div class="wrapper">
     <div class="people-section-inner">
      <div class="person-section-left">
        <h2>Board of Trustees</h2>

      <div class="person-card">
        <div class="person-image-container">
          <img src="/images/sir-david-henry.jpg" alt="Sir David Hendry" class="person-image">
        </div>
        <div class="person-info">
          <h2 class="person-name">Sir David Hendry</h2>
          <h4 class="person-title">Professor of Economics, and former Head</h4>
          <h5 class="person-institute">Department of Economics, University of Oxford, UK</h5>
        </div>
      </div>
      <div class="person-card">
        <div class="person-image-container">
          <img src="/images/wendy-carlin.jpg" alt="Wendy Carlin" class="person-image">
        </div>
        <div class="person-info">
          <h2 class="person-name">Professor Wendy Carlin</h2>
          <h4 class="person-title">Professor of Economics</h4>
          <h5 class="person-institute">Department of Economics, University College London, UK</h5>
        </div>
      </div>
      <div class="person-card">
        <div class="person-image-container">
          <img src="/images/stefano-caria.jpg" alt="Stefano Caria" class="person-image">
        </div>
        <div class="person-info">
          <h2 class="person-name">Professor Stefano Caria</h2>
          <h4 class="person-title">Assistant Professor of Economics</h4>
          <h5 class="person-institute">Department of Economics, University of Bristol, UK</h5>
        </div>
      </div>
      </div>
      <div class="seperator"></div>
      <div class="person-section-right">
        <h2>Executive Directors</h2>
      <div class="person-card">
        <div class="person-image-container">
          <img src="/images/roser-max.jpg" alt="Max Roser" class="person-image">
        </div>
        <div class="person-info">
          <h2 class="person-name">Dr. Max Roser</h2>
          <h4 class="person-title">Senior Research Fellow</h4>
          <h5 class="person-institute">Oxford Martin School, University of Oxford, UK</h5>
        </div>
      </div>
      <div class="person-card">
        <div class="person-image-container">
          <img src="/images/ortiz-ospina-esteban.jpg" alt="Esteban Ortiz-Ospina" class="person-image">
        </div>
        <div class="person-info">
          <h2 class="person-name">Dr. Esteban Ortiz-Ospina</h2>
          <h4 class="person-title">Research Fellow</h4>
          <h5 class="person-institute">Oxford Martin School, University of Oxford, UK</h5>
        </div>
      </div>
      </div>
     </div>
    </div>
  </div>
{{ end }}